<!DOCTYPE html>
<html>
    <head>
        <title>IT 122 Home Page</title>
        <!-- Latest compiled and minified CSS -->
        {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> --}}
        <!--Custom Styles-->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        
        <!--The following 3 scripts are all that is required to get started with ReactJS-->
        <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

        <!-- Don't use this in production: -->
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    </head>
    <body class="body">
        <div class="container">
            <div class="header jumbotron">
                <h1>Five Bands (more or less)</h1>
                <nav class="nav nav-pills pull-left">
                    <a href="/">Home</a>
                </nav>
            </div>
            {{{body}}}
        </div>
    </body>
</html>