<div id="root"></div>
<script type="text/babel">
	const bands = {{{bands}}};
	console.log(bands);

	const bandArray = []
	for (var name in bands){
		bandArray.push(bands[name].name);
	}

	const Detail = (e) => {
		var detail = e.target.innerText;
		console.log(detail);
		window.location.href = "./detail?name=" + detail;
	}

	const bandList = bandArray.map((item) =>  <li key={item} onClick={Detail}>{item}</li>);
	
	const MyApp = () => {
		return <ul>{bandList}</ul>;
	}

	ReactDOM.render(
		<MyApp/>,
		document.getElementById('root')
	);
</script>